/*
This implementation sets the attributes for the sliders that will be implemented on the
homepage
It sets the attributes for the container , and the attributes for the images that 
will be slid
*/
.container{
	width:1600px ;
	height:800px;
	padding:40px ;
	border: 1px blue ;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: black;
}
.image-sliding-wrapper{
	overflow:hidden;
}
#slide_image{
	position:relative; 
	height:280px;
	padding:0;
}
#slide_image li{
	max-width:100%;
	float:left;
	list-style:none;
}